#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html,
body {
  height: 100%;
}

.form-signin {
  min-width: 300px;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 55px);
  margin-top: -25px;
}

.App {
  width: 100%;
  height: 100%;
}

.result-list {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: calc(100% - 20px);
  max-height: 200px;
  overflow-y: auto;
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
  border-radius: 4px; 
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 210px;
  margin-left: 85px;
}

.home-div{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home{
  min-width: 80%;
  height: 100%;
}

.friends{
  width: 20%;
  height: 100%;
  background-color: #eee;
}

.searchResult{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  cursor: pointer;
}

.searchResultImg{
  width: 45px;
  height: auto;
  margin-right: 10px;
  border-radius: 22px;
}

.searchResultTitle{
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.profile-main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.profile-content{
  display: flex;
  flex-direction: column;
  width: 55%;
  max-width: 800px;
  margin-top: 65px;
}

.profile-info{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 25px;
}

.profile-image{
  width: 125px;
  height: auto;
  border-radius: 63px;
}

.profile-personality{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-details{
  width: 50%;
  justify-content: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.profile-username-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-title{
  font-weight: 500;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 15px;
}

.profile-text{
  font-weight: 300;
  font-size: 20px;
  margin-left: 15px;
}

.profile-followers-counter{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-counter{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25px;
}

.profile-count-label{
  font-weight: 500;
  font-size: 18px;
}

.profile-follow-btn {
  margin-top: 15px;
  width: 95px;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.follow-btn {
  background-color: #0095f6;
  color: #fff;
  border: 1px solid #0095f6;
}

.following-btn {
  background-color: #ccc;
  color: #000;
  border: 1px solid #ccc;
}

.profile-follow-btn:hover {
  background-color: #0077cc;
}

.following-btn:hover {
  background-color: #aaa;
}

.drop-down-menu {
  position: absolute;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
  margin-right: 35px;
}

.drop-down-menu a {
  display: block;
  padding: 8px 10px;
  color: #333;
  text-decoration: none;
}

.drop-down-menu a:hover {
  background-color: #f5f5f5;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.nav-img-username{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nav-profile-image{
  width: 30px;
  height: auto;
  border-radius: 15px;
}

.nav-username{
  margin-left: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.settings-main{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.settings-content{
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 700px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 50px;
  height: fit-content;
}

.settings-title-div{
  border-bottom: 2px solid black;
  margin: 20px;
}

.setting-title{
  display: flex;
  justify-content: start;
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 15px;
}

.settings-row{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 35px;
  margin-right: 35px;
  align-items: center;
}

.settings-input{
  max-width: 45%;
  margin-right: 25px;
}

.settings-email{
  margin-right: 35px;
}

.settings-checkBox-lab{
  margin-left: 5px;
}

.settings-save{
  border-top: 2px solid black;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: end;
  align-items: end;
  padding-top: 20px;
  padding-bottom: 10px;
}

.profile-posts{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

.login{
  margin-top: 20px;
}

.login-email{
  margin-bottom: 10px;
}

.registration-row{
  margin-bottom: 10px;
}

.like-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-button{
  background-color: transparent;
  border: none;
  font-size: 23px;
}

.likes{
  font-size: 20px;
  margin-right: 5px;
  margin-top: 2px;
}