#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html,
body {
  height: 100%;
}

.form-signin {
  min-width: 300px;
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 55px);
  margin-top: -25px;
}

.App {
  width: 100%;
  height: 100%;
}

.result-list {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: calc(100% - 20px);
  max-height: 200px;
  overflow-y: auto;
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
  border-radius: 4px; 
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 210px;
  margin-left: 58px;
}

.home-div{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home{
  min-width: 80%;
  height: 100%;
}

.friends{
  width: 20%;
  height: 100%;
  background-color: #eee;
}

.friend-list{
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.friends-headline{
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  font-size: 30px;
}

.friend{
  display: flex;
  margin-left: 30px;
  font-size: 20px;
}