.showallposts {
  background-color: white;
}

.body {
  width: 40%;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

/* Stil za post kontejner */
.post-container {
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .post-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Stil za gornji red post kontejnera */
  .top-row {
    display: flex;
    align-items: center;
  }
  
  /* Stil za ikonicu profila */
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
  }
  
  .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  /* Stil za korisničko ime */
  .username {
    font-weight: bold;
    font-size: 1.2em;
    color: #004080;
  }
  
  /* Stil za vreme postavljanja posta */
  .posted {
    color: #606770;
    font-size: 0.9em;
    margin-bottom: 8px;
  }
  
  /* Stil za sadržaj posta */
  .content {
    font-size: 1.2em;
    line-height: 1.4;
    color: #333;
  }
  
  /* Stil za datum i vreme posta */
  .datetime {
    color: #606770;
    font-size: 0.9em;
  }
  
  /* Stil za brojač lajkova */
  .like-counter {
    color: #606770;
    font-size: 0.9em;
  }
  
  /* Stil za kontejner dodavanja posta */
  .add-post-container {
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px;
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
  }
  
  .add-post-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Stil za tekstualno polje za unos posta */
  .add-post-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Stil za dugme za dodavanje posta */
  .add-post-button {
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .add-post-button:hover {
    background-color: #45a049;
  }
  
  /* Stil za dugmadi u gornjem desnom uglu kontejnera za dodavanje posta */
  .button-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 8px;
  }
  


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu div {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }



.comment123{
  display: flex;
  align-items: center; 
  margin-bottom: 8px;
}


  .comments-container {
    margin-top: 20px;
    width: 100%;
  }
  
  .comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .comment-author {
    font-weight: bold;
    width: 10%;
    margin:0;
  }
  
  .comment-content {
    margin-top: 5px;
    width: 100%;
  }
  
  .comment button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
  }
  
  .comment button:hover {
    background-color: #2980b9;
  }
  
  .comment button.update {
    background-color: transparent;
    color: #3498db;
  }
  
  .comment button.delete {
    background-color: transparent;
    color: #e74c3c;
  }
  
  .add-comment-container {
    margin-top: 20px;
    width: 100%;
  }
  
  .add-comment-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    resize: none;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-comment-container button {
    margin-top: 10px;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-comment-container button:hover {
    background-color: #27ae60;
  }
  
  
  .comments-toggle {
    text-align: center;
    padding-top: 15px;
  }
  
  .comment button.update::before {
    content: "\f040"; /* Unicode karakter za olovku iz Font Awesome */
    font-family: "Font Awesome 5 Free";
  }
  
  .comment button.delete::before {
    content: "\f1f8"; /* Unicode karakter za kantu iz Font Awesome */
    font-family: "Font Awesome 5 Free";
  }
  
  
  .comment button::before {
    font-size: 14px;
    content: "";
  }
  
  .comment button.delete {
    color: #e74c3c;
  }
  
  .comment button.update {
    color: #3498db;
  }

.LikeCommentDiv{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.comments-toggle{
  text-align: center;
  padding-top: 15px; 
}

.Izmena{
  display: flex;
  flex-direction: row;
}